{% extends 'base.html.twig' %}

{% block body %}

    <h1>Page de modification du streamer</h1>

    {{ form_start(form) }}
    <button type="submit">Editer</button>
    {{ form_end(form) }}


{% endblock %}


