@import "variable";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: $white-text;
  background-color: $bg;
  font-family: roboto, helvetica, sans-serif, arial, verdana, tahoma;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a, p, h1, h2, h3, h4, h5, h6, {
  color: $white-text;
}

ul, ul li, a {
  list-style-type: none;
}